body{
    background-color: lightgray;
}
h1{
    font-family: sans-serif;
    font-weight: bold;
    color:black;
}
h2{
    font-family: sans-serif;
    font-weight: bold;
    color:black;
    font-size: 60px;
    font-weight: bold;
}
button{
    font-family: sans-serif;
}
.container, .container-fluid{
    padding: 30px;
}
.title-box
{
    background: #F54029;
    border-bottom-style: solid;
    border-color: black;
    border-bottom-width: 10px;
}